{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheryians Coding School | Learn coding in India</title>
    <link rel="stylesheet" href="../static/courses.css">
    <script src="{% static 'script.jss' %}"></script>
</head>
<body>
    <main>
        <nav class="container">
        <div class="header">
            <div class="image">
                <img src="../static/sheryians.png" alt="Sheriyans coding school Logo" width="22" height="28">
                <span>Sheryians Coding school</span>
                </div>
                <div class="navitems">
                <ul>
                   <li><a class="nav-link " href="{% url 'sheryians1:home' %}">Home</a></li>
                    <li><a class="nav-link active" href="#">Courses</a></li>
                    <li><a class="nav-link" href="#">Bootcamp(Kodr)</a></li>
                    <button class="btn-request">Request Callback</button>
                    <button class="btn-sign">sign</button>
                </ul>
                </div>
        </div>
        </nav>
        <section class="view1">
            <div class="left">
                <h1>
                    <span>
                        we're not a 
                        <span class="text-highlight">course <br> factory</span> 
                    </span>
                </h1> 
            </div>
            <div class="side-text">
                We focus on courses that really help.

            </div>
        </section>
        
        <section class="view3">
            <div class="top">
                <span>
                    Courses which do work 
                    </span><br>           
            </div>            
        </section>      
    <section class="coures">       
        <div class="course-box">
        <div class="course-img">
        <img src="../static/images/image5.jpeg" alt="" width="301" height="188">
        </div>
        <div class="course-title">
        <h2>Three.js Domination</h2>
        </div>
        <div class="course-lang">
            <p>HINDI</p>
        </div>
        <div class="course-discount">
        <span>Black Friday Sale </span>
        <div class="course-price">
        <p>&#8377; 2499 <small> &#8377; 3500</small></p>
        
        <div class="discounts"><p>29% OFF</p></div>
        </div>
        </div>
        <button>
            <a class="view-details-button">View Details</a>
            </div>
        </button>
        </div>
        </div>
        <!-- 2 -->
        <div class="course-box">
            <div class="course-img">
            <img src="../static/images/image4.jpeg" alt="" width="301" height="188">
            </div>
            <div class="course-title">
            <h2>Java & DSA Domination</h2>
            </div>
            <div class="course-lang">
                <p>HINGLISH</p>
            </div>
            <div class="course-discount">
            <span>Limited Time Discount</span>
            <div class="course-price">
            <p>&#8377;5999 <small> &#8377; 11999</small></p>
            
            <div class="discounts"><p>50% OFF</p></div>
            </div>
            </div>
            <button>
                <a class="course-viewdetails">View details</a>
            </button>
            </div>
            <!-- 3 -->
            <div class="course-box">
                <div class="course-img">
                <img src="../static/images/image2.jpeg" alt="" width="301" height="188">
                </div>
                <div class="course-title">
                <h2>Back-End Domination: Create Efficient Back-End. </h2>
                </div>
                <div class="course-lang">
                    <p>Hindi</p>
                </div>
                <div class="course-discount">
                <span>Limited Time Discount</span>
                <div class="course-price">
                <p>&#8377; 5999 <small> &#8377; 11999</small></p>
                
                <div class="discounts"><p>50% OFF</p></div>
                </div>
                </div>
                <button>
                    <a class="view-details-button">View details</a>
                </button>
                </div>
                <!-- 4 -->
                <div class="course-box">
                    <div class="course-img">
                    <img src="../static/images/image1.jpeg" alt="" width="301" height="188">
                    </div>
                    <div class="course-title">
                    <h2>Front-End Domination:Create Anything with Code </h2><br>
                    </div>
                    <div class="course-lang">
                        <p>HINDI</p>
                    </div>
                    <div class="course-discount">
                    <span>Limited Time Discount</span>
                    <div class="course-price">
                    <p>&#8377; 4999 <small> &#8377; 9999</small></p>
                    
                    <div class="discounts"><p>50% OFF</p></div>
                    </div>
                    </div>
                    <button>
                        <div class="course-viewdetails">
                            <a  class="view-details-button">View details</a>
                        </div>
                    </button>
                    </div>
                    <!-- 5 -->
                    <div class="course-box">
                        <div class="course-img">
                        <img src="../static/images/image3.jpeg" alt="" width="301" height="188">
                        </div>
                        <div class="course-title">
                        <h2>Aptitide & Reasoning for Campus Placements</h2><br>
                        </div>
                        <div class="course-lang">
                            <p>HINGLISH</p>
                        </div>
                        <div class="course-discount">
                        <span>Black Friday Sale</span>
                        <div class="course-price">
                        <p>&#8377; 999 <small> &#8377; 1500</small></p>
                        
                        <div class="discounts"><p>33% OFF</p></div>
                        </div>
                        </div>
                        <button>
                            <a class="view-details-button">View details</a>
                        </button>
                        </div>

                        <footer class="footer">
    
                            <div class="footer-section">
                            <div class="media-text">
                            <img src="images/Sheryians_logo_Ez" width="30" height="45">
                            <p>Let’s connect with our socials</p>
                            <div class="medias">
                                <a><i class="bi-icons bi-instagram"></i>
                                <img src="{% static 'images/insta_img.png'}" alt=""></a>
                                <a><i class="bi-icons bi-linkedin"></i>
                                <img src="{% static 'images/linedin_img.png'}" alt=""></a>
                                <a><i class="bi-icons bi-discord"></i>
                                <img src="{% static 'images/main_img1.png'}" alt=""></a>
                                <a><i class="bi-icons bi-youtube"></i>
                                <img src="{% static 'images/youtube_img.png'}" alt=""></a>
                                <a><i class="bi-icons bi-twitter"></i>
                                <img src="{% static 'images/twitter_img.png'}" alt=""></a>
                            </div>
                            </div>
                            </div>
                            <div class="footer-section">
                            <h2>COMPANY</h2>
                            <div class="options">
                            
                                <a href="">About Us</a>
                                <a href="">Support</a>
                                <a href="">Privecy Policy</a>
                                <a href="">Terms and Conditions</a>
                                <a href="">Pricing and Refund</a>
                                <a href="">Hire From us</a>
                                <a href="">Bug Bounty</a>
                            </div>
                            </div>
                            <!--  -->
                        
                            <div class="footer-section">
                                <h2>COMMUNITY</h2>
                                <div class="options">
                                
                                    <a href="">inertia</a>
                                    <a href="">Discord</a>
                                    
                                </div>
                            </div>
                                <!--  -->
                        
                               <div class="footer-section">
                                    <h2>Get In Touch</h2>
                                    <div class="options">
                                    
                                        <a href="">+91 1234567891 </a>
                                        <a href="">+91 9347875845</a>
                                        <a href="">teja@info.com</a>
                                        <a href="">Hyderabad</a>
                        
                                        
                               </div>
                               </footer>
                               <div class="horizontal-line"><hr></div>
                               <footer class="footer1">
                                   <div class="footer-text">
                                   <h1>Copyright © 2024 Sheryians Pvt. Ltd. <br>
                                   <span>All Rights Reserved. </span></h1> 
                                   </div>
                               </footer>
                               </section>    
                            </main>
                        </body>
                        </html>