{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheryians Coding School | Learn coding in India</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="{% static 'script.jss' %}"></script>
</head>
<body>
    <main>
        <nav class="container">
        <div class="header">
            <div class="image">
                <img src="{% static 'sheryians.png' %}" alt="Sheriyans coding school Logo" width="22" height="28">
                <span>Sheryians Coding school</span>
                </div>
                <div class="navitems">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
                <ul>
                    <li><a class="nav-link active" href="#">Home</a></li>
                    <li><a class="nav-link " href="{% url 'sheryians1:courses' %}">Courses</a></li>
                    <li><a class="nav-link" href="#">Bootcamp(Kodr)</a></li>
                    <button class="btn-request">Request Callback</button>
                    <button class="btn-sign">sign</button>
                </ul>
                </div>
        </div>
        </nav>
        <section class="view1">
            <div class="middle">
                <h1>
                    <span>
                        we only
                        <span class="text-highlight">teach</span> <br>
                        what we are really <br>
                        really
                        <span class="italic">good</span> at.<br>
                    </span>
                </h1>
                <a class="btn-check">check Courses-Make an Impact</a>
            </div>
            <div class="side-text">
                get ready
                <span class="text-highlight">accelerate your career</span>
                with customized courses and leave
                your mark in the tech industry

            </div>
        </section>
        <section class="view2">
        <div class="milestones">
        <h1>  25k+</h1>
        <span>Students taught</span>
        </div>
        <div class="milestones">
            <h1>  20+</h1>
            <span>Instructors</span>
        </div>
        <div class="milestones">
            <h1> 431+</h1>
            <span>Youtube Subs.</span>
        </div>
        </section>
        <section class="view3">
            <div class="top">
                <span>
                    we do whatever it takes to help you
                    </span><br>
                    <span id="view3-text" class="text-highlight">understand the concepts.</span>
            </div>

            
        </section>
        <section class="view4">
            
            <div class="youtubebox">
                <iframe width="690" height="415"  src="https://www.youtube.com/embed/60SRAWmMXyc?si=ZojZ7EVIRTrIRj7X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            
        </section>
        <!-- youtube box -->
        <div class="btn-explore">
            <a href="https://www.youtube.com/@thesheryianscodingschool" target="_blank">Explore Free Learning</a>
            </div>
            <!-- coures offered -->

    <span> <h1 class="course-heading">Courses Offered.</h1></span>
    <section class="coures">
       
        <div class="course-box">
        <div class="course-img">
        <img src="{% static 'images/image1.jpeg' %}" alt="" width="301" height="188">
        </div>
        <div class="course-title">
        <h2>Front-End Domination: Create Anything with Code</h2>
        </div>
        <div class="course-lang">
            <p>Hindi</p>
        </div>
        <div class="course-discount">
        <span>Limited Time Discount</span>
        <div class="course-price">
        <p>&#8377; 4999 <small> &#8377; 9999</small></p>
        
        <div class="discounts"><p>50% OFF</p></div>
        </div>
        </div>
        <div class="course-viewdetails">

        </div>
        </div>
        <!-- 2 -->
        <div class="course-box">
            <div class="course-img">
            <img src="{% static 'images/image2.jpeg' %}" alt="" width="301" height="188">
            </div>
            <div class="course-title">
            <h2>Back-End Domination: Create Efficient Back-End.</h2>
            </div>
            <div class="course-lang">
                <p>Hindi</p>
            </div>
            <div class="course-discount">
            <span>Limited Time Discount</span>
            <div class="course-price">
            <p>&#8377;5999 <small> &#8377; 11999</small></p>
            
            <div class="discounts"><p>50% OFF</p></div>
            </div>
            </div>
            <div class="course-viewdetails">

            </div>
            </div>
            <!-- 3 -->
            <div class="course-box">
                <div class="course-img">
                <img src="{% static 'images/image3.jpeg' %}" alt="" width="301" height="188">
                </div>
                <div class="course-title">
                <h2>Aptitude & Reasoning for Campus Placements</h2>
                </div>
                <div class="course-lang">
                    <p>Hindi</p>
                </div>
                <div class="course-discount">
                <span>Limited Time Discount</span>
                <div class="course-price">
                <p>&#8377; 999 <small> &#8377; 1500</small></p>
                
                <div class="discounts"><p>33% OFF</p></div>
                </div>
                </div>
                <div class="course-viewdetails">

                </div>
                </div>
                <!-- 4 -->
                <div class="course-box">
                    <div class="course-img">
                    <img src="{% static 'images/image4.jpeg' %}" alt="" width="301" height="188">
                    </div>
                    <div class="course-title">
                    <h2>Java & DSA Domination</h2><br>
                    </div>
                    <div class="course-lang">
                        <p>English</p>
                    </div>
                    <div class="course-discount">
                    <span>Limited Time Discount</span>
                    <div class="course-price">
                    <p>&#8377; 4999 <small> &#8377; 9999</small></p>
                    
                    <div class="discounts"><p>50% OFF</p></div>
                    </div>
                    </div>
                    <div class="course-viewdetails">

                    </div>
                    </div>
                    <!-- 5 -->
                    <div class="course-box">
                        <div class="course-img">
                        <img src="{% static 'images/image5.jpeg' %}" alt="" width="301" height="188">
                        </div>
                        <div class="course-title">
                        <h2>Three.js Domination</h2><br>
                        </div>
                        <div class="course-lang">
                            <p>Hindi</p>
                        </div>
                        <div class="course-discount">
                        <span>Limited Time Discount</span>
                        <div class="course-price">
                        <p>&#8377; 2499 <small> &#8377; 3500</small></p>
                        
                        <div class="discounts"><p>29% OFF</p></div>
                        </div>
                        </div>
                        <div class="course-viewdetails">

                        </div>
                        </div>
    </section>
    <section class="view5">
        <div>
            <span>
                Top
                </span>
                <span id="view5-text" class="text-highlight">companies</span> our students <br>working with
        </div>  
    </section>
    <img src="{% static 'images/img6.jpeg' %}" alt="" id="company_img">
    <br>
    <br>
    <a class="btn-check">Explore Courses</a>
    <div class="horizontal-line"><hr></div>
    <footer class="footer">
    
    <div class="footer-section">
    <div class="media-text">
    <img src="images/Sheryians_logo_Ez" width="30" height="45">
    <p>Let’s connect with our socials</p>
    <div class="medias">
        <a><i class="bi-icons bi-instagram"></i>
        <img src="{% static 'images/insta_img.png'}" alt=""></a>
        <a><i class="bi-icons bi-linkedin"></i>
        <img src="{% static 'images/linedin_img.png'}" alt=""></a>
        <a><i class="bi-icons bi-discord"></i>
        <img src="{% static 'images/main_img1.png'}" alt=""></a>
        <a><i class="bi-icons bi-youtube"></i>
        <img src="{% static 'images/youtube_img.png'}" alt=""></a>
        <a><i class="bi-icons bi-twitter"></i>
        <img src="{% static 'images/twitter_img.png'}" alt=""></a>
    </div>
    </div>
    </div>
    <div class="footer-section">
    <h2>COMPANY</h2>
    <div class="options">
    
        <a href="">About Us</a>
        <a href="">Support</a>
        <a href="">Privecy Policy</a>
        <a href="">Terms and Conditions</a>
        <a href="">Pricing and Refund</a>
        <a href="">Hire From us</a>
        <a href="">Bug Bounty</a>
    </div>
    </div>
    <!--  -->

    <div class="footer-section">
        <h2>COMMUNITY</h2>
        <div class="options">
        
            <a href="">inertia</a>
            <a href="">Discord</a>
            
        </div>
    </div>
        <!--  -->

       <div class="footer-section">
            <h2>Get In Touch</h2>
            <div class="options">
            
                <a href="">+91 1234567891 </a>
                <a href="">+91 9347875845</a>
                <a href="">teja@info.com</a>
                <a href="">Hyderabad</a>

                
       </div>
       </footer>
       <div class="horizontal-line"><hr></div>
       <footer class="footer1">
           <div class="footer-text">
           <h1>Copyright © 2024 Sheryians Pvt. Ltd. <br>
           <span>All Rights Reserved. </span></h1> 
           </div>
       </footer>
       </section>    
    </main>
</body>
</html>